* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    width: 100%;
    display: flex;
    background-color: black;
    padding: 5px 15px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}

.main-nav__logo {
    max-height: 8vh;
}

.main-nav__toggle {
    display: none;
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 5;
}

.main-menu__link {
    text-decoration: none;
    color: #82ccdd;
    display: block;
}

.main-menu__link:visited {
    color: #82ccdd;
}

.main-menu__link:hover {
    color: #f6b93b;
}

.main-menu__link:active {
    color: #f6b93b;
}

.main-menu__element {
    list-style-type: none;
    margin: 0 15px;
    font-family: 'Capriola', sans-serif;
    font-size: 24px;
}

.section-hero {
    min-height: 100vh;
    opacity: 0.85;
}

.carousel {
    position: relative;
}

.carousel__item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: 0s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .7s;
}

.carousel__item.active {
    opacity: 1;
}

.carousel__item-slide1 {
    background-image: url(../img/slider1.jpg);
    background-position: 80% 0;
}

.carousel__item-slide2 {
    background-image: url(../img/slider2.jpg);
}

.carousel__item-slide3 {
    background-image: url(../img/slider3.jpg);
}

.carousel__item-slide4 {
    background-image: url(../img/slider4.jpg);
}

.carousel__item-header {
    margin-top: 10vh;
    font-family: 'Capriola', sans-serif;
    width: 90%;
    font-size: 30px;
    text-align: center;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 10px;
    font-weight: bold;
    color: #0c2461;
    opacity: 0.95;
    text-shadow: 0 0 30px #fff, 0 0 30px #fff, -1px 0 #82ccdd, 0 1px #82ccdd, 1px 0 #82ccdd, 0 -1px #82ccdd;
}

.carousel__item-text {
    margin: 30vh auto 10vh auto;
    font-family: 'Capriola', sans-serif;
    width: 90%;
    font-size: 6vw;
    text-align: center;
    line-height: 140%;
    letter-spacing: 5px;
    color: #fff;
    opacity: 0.9;
    text-shadow: 0 0 30px #000, 0 0 30px #000, 0 0 30px #000, 0 0 30px #000, -1px 0 #82ccdd, 0 1px #82ccdd, 1px 0 #82ccdd, 0 -1px #82ccdd;
}

.carousel__nav {
    position: relative;
    min-height: 100vh;
}

.carousel__slider-button-prev, .carousel__slider-button-next {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 8vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    text-indent: -999px;
    overflow: hidden;
    transition: .5s;
}

.carousel__slider-button-next {
    left: auto;
    right: 0;
}

.carousel__slider-button-prev:focus, .carousel__slider-button-next:focus {
    outline: none;
}

.carousel__slider-button-prev:before, .carousel__slider-button-next:before {
    content: '<';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #fff;
    text-indent: 0;
}
.carousel__slider-button-next:before {
    content: '>';
}


.section-features__header {
    display: flex;
    color: white;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #3c6382;
}

.header__text {
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Capriola', 'sans-serif';
}

.section-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 50vh;
    flex-direction: row;
    background-color: #3c6382;
    padding: 5%;
}

.section-features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 3.5%;
    border-radius: 5%;
    background-color: white;
    opacity: 0.7;
}

.section-features__img {
    max-height: 110%;
    width: auto;
}

.section-features__text {
    text-align: center;
    font-size: 120%;
    font-family: 'Capriola', sans-serif
}

.section-learn-more {
    background-color: #3c6382;
}

.section-learn-more__flex-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    object-fit: contain;
    height: 100%;
    padding: 5vh 5vw;
}

.section-learn-more__flex-container-img {
    width: 96%;
    object-fit: contain;
    border-radius: 10px;
    margin: 1vw 0;
}

.section-learn-more__flex-container-text {
    font-family: 'Capriola', sans-serif;
    background-color: #fff;
    opacity: 0.7;
    margin: 3vh 2vw 3vh 2vw;
    padding: 2vw;
    border-radius: 10px;
}

.section-learn-more__flex-container-headline {
    margin-bottom: 3vw;
    font-size: 7vw;
    text-align: center;
}

.section-learn-more__flex-container-content {
    font-size: 5vw;
    line-height: 150%;
    text-align: justify;
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    padding: 40px 30px;
    border: 2px solid rgb(60, 99, 130);
    border-radius: 25px;
    font-family: 'Capriola', sans-serif;
    overflow: hidden;
}

.calculator-wrapper__title {
    text-transform: capitalize;
    margin: 0 0 40px;
}

.calculator__row {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}

.calculator__row:last-child {
    margin-bottom: 0;
}

.calculator__row label {
    font-weight: 700;
}

.calculator__slider {
    justify-content: space-between;
}

.calculator__slider-number {
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
    appearance: none;
}

.calculator__slider-number:hover {
    opacity: 1;
}

.calculator__slider-number::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #fa983a;
    cursor: pointer;
}

.calculator__slider-number::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fa983a;
    cursor: pointer;
}

.calculator__slider-output {
    font-weight: bold;
    padding: 0 10px;
    width: 5%;
}

.calculator__account-type {
    display: block;
}

.account-type-regular {
    margin: 10px 0 5px 5px;
}

.account-type-business {
    margin: 5px 0 0 5px;
}

.calculator__result-info {
    text-transform: capitalize;
    margin: 0;
}

.calculator__result-number {
    color: #4a69bd;
}

.section-team-header {
    display: flex;
    justify-content: center;
    font-family: 'Capriola', sans-serif;
    font-size: 2.3rem;
    margin: 0;
    color: white;
    opacity: 0.7;
    padding: 2%;
    background-color: #3c6382;
}

.section-team__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(60, 99, 130);
}

.section-team__container-elements {
    margin: 3% auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    border-radius: 5%;
}

.section-team__name {
    display: flex;
    justify-content: center;
    font-family: 'Capriola', sans-serif;
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;
}

.section-team__image {
    border-radius: 50%;
    width: 100%;
}

.section-team__social-media {
    display: flex;
    justify-content: center;
}

.section-team__fb {
    width: 40px;
    height: 20%;
    transition: 0.3s transform linear;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-sign-up {
    margin: 0 auto;
    background-color: #0a3d62;
    padding: 10px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-sign-up__header {
    color: white;
    margin: 7px 0 10px 0;
}

.newsletter-form__input-email {
    width: 90%;
    max-width: 400px;
    background-clip: padding-box;
    padding: 0.5rem 0.75rem;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    line-height: 1.25;
}

.newsletter-form__input-email {
    outline: none;
}

.newsletter-form__input-submit {
    width: 100%;
    max-width: 200px;
    padding: 0.5rem 0.75rem;
    background-color: #3c6382;
    background-clip: padding-box;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    color: white;
    line-height: 1.25;
    margin-top: 7px;
}

.newsletter-form__input-submit:hover {
    color: #82ccdd;
}

.newsletter-form__input-submit:focus {
    outline: none;
}

.section-sign-up__no-spam {
    color: white;
    margin: 12px 0 8px 0;
}

.section-sign-up__personal-data {
    color: white;
    margin-bottom: 8px;
}

.thank-you-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.thank-you-image {
    width: auto;
    height: 70vh;
}

.game-information-container {
    font-family: Capriola, sans-serif;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}

.cookies {
    font-family: 'Capriola', sans-serif;
    position: fixed;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #323334;
    padding: 20px;
}

.cookies__headline {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #cdd7da;
    margin-bottom: 7px;
}

.cookies__content {
    padding-bottom: 30px;
    font-size: 14px;
    color: #afb4bc;
    line-height: 1.5em;
}

.cookies__button {
    font-family: Capriola, sans-serif;
    display: block;
    position: fixed;
    right: 40px;
    bottom: 10px;
    width: 110px;
    ;
    height: 40px;
    padding: 12px 10px;
    border-radius: 10px;
    line-height: 100%;
    font-size: 16px;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: #e55039;
    text-align: center;
}

.cookies__button:hover {
    background-color: #ff7925;
}

.cookies--hidden {
    display: none;
}

.game-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.button {
    font-weight: bold;
    padding: 5px 25px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
}

.start-game-button {
    padding: 10px;
    border-radius: 10%;
}

.button-left {
    margin-right: 50px;
}
.button-right {
    margin-left: 50px;
}

.game-instruction {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

@media only screen and (min-width:576px) {
    .carousel__item-header {
        margin-top: 30vh;
        font-size: 5vw;
    }
    .carousel__item-text {
        margin: 10vh auto 10vh auto;
        font-size: 4vw;
    }
    .section-learn-more__flex-container-headline {
        font-size: 6vw;
    }
    .section-learn-more__flex-container-content {
        font-size: 4.5vw;
        line-height: 140%;
        text-align: justify;
    }
}

@media only screen and (min-width:576px) and (orientation: landscape) {
    .carousel__item-header {
        margin-top: 40vh;
        font-size: 5vw;
    }
    .carousel__item-text {
        margin: 10vh auto 10vh auto;
        width: 90%;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 767px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }
    .main-nav__flex-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav__logo {
        justify-content: center;
        max-height: 14vw;
    }
    .main-nav__toggle {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        max-height: 14vw;
    }
    .main-nav__hamburger-logo {
        max-height: 14vw;
    }
    .main-menu {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        max-height: 200px;
    }
    .main-nav__navigation--collapsed {
        max-height: 0 !important;
    }
    .main-menu__element {
        margin: 5px auto;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1em;
        width: 100vw;
        text-align: center;
    }
    .section-features {
        display: flex;
        flex-direction: column;
    }
    .section-features__container {
        flex-direction: row;
        align-items: space-between;
        padding-left: 25%;
        padding-right: 25%;
        margin: 5%;
    }
    .section-features__container--odd {
        flex-direction: row-reverse;
    }
    .section-features__img {
        margin: 20%;
    }
    .section-features__text {
        margin: 20%
    }
    .calculator__slider {
        flex-direction: column;
    }
    .calculator__slider-number {
        width: 100%;
        margin: 10px 0;
    }
    .calculator__slider-output {
        width: auto;
    }
    .section-team__container {
        justify-content: center;
    }
    .section-team__social-media {
        display: flex;
        align-items: flex-start;
    }
    .section-team__image {
        justify-content: center;
    }
    .section-team__name {
        justify-content: center;
    }
    .newsletter-form__input-submit {
        margin-top: 3%;
        max-width: 250px;
    }
    .thank-you-image {
        width: 80%;
        height: auto;
    }
    .in-view {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
    }
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

@media only screen and (min-width: 768px) {
    .carousel__item-header {
        font-size: 7vw;
    }
    .carousel__item-text {
        margin: 30vh auto 10vh auto;
        font-size: 5vw;
    }
    .section-learn-more__flex-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 5vw;
    }
    .section-learn-more__flex-container-img {
        width: 47%;
        margin: 3vh 2vw;
    }
    .section-learn-more__flex-container-text {
        padding: 1vw 2vw 2vw 2vw;
    }
    .section-learn-more__flex-container-headline {
        margin-bottom: 1vw;
        font-size: 3.5vw;
    }
    .section-learn-more__flex-container-content {
        font-size: 2.5vw;
        line-height: 170%;
    }
    .section-learn-more__flex-container:nth-of-type(odd)>.section-learn-more__flex-container-text {
        order: -1;
        text-align: right;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .carousel__item-header {
        margin-top: 10vh;
        font-size: 5vw;
    }
    .carousel__item-text {
        margin: 20vh auto 10vh auto;
        font-size: 3vw;
    }
}
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .main-nav {
            flex-direction: column;
            align-items: center;
        }
        .main-nav__logo {
            justify-content: center;
        }
        .main-menu {
            justify-content: space-between;
            padding-left: 0;
        }
        .main-menu__element {
            font-size: 21px;
        }
    }
    @media only screen and (min-width: 992px) {
        .carousel__item-header {
            font-size: 6vw;
        }
        .carousel__item-text {
            margin: 20vh auto 20vh auto;
            font-size: 5vw;
        }
        .section-learn-more__flex-container-headline {
            font-size: 3vw;
        }
        .section-learn-more__flex-container-content {
            font-size: 2vw;
            line-height: 140%;
        }
    }
    @media only screen and (min-width: 1200px) {
        .main-nav__logo {
            max-height: 6vw;
        }
        .carousel__item-header {
            font-size: 5vw;
        }
        .carousel__item-text {
            margin: 30vh auto 10vh auto;
            font-size: 3vw;
        }
        .section-learn-more__flex-container-headline {
            font-size: 2vw;
        }
        .section-learn-more__flex-container-content {
            font-size: 1.5vw;
        }
    } 