*{
    box-sizing: border-box;
}

.order{
    order: -1;
    text-align: right;
}

.section-learn-more__flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    object-fit: contain;
    width: 100%;
    height: 100%;

}

.section-learn-more__flex-container__img{
    width: 47%;
    object-fit: contain;
    border-radius: 10px;
    margin: 3vh 2vw 3vh 2vw;
}

.section-learn-more__flex-container__img:nth-of-type(1){
    margin-top: vh
}
.section-learn-more__flex-container__text{
    font-family: 'Capriola', sans-serif;
    flex: 1 1 40%;
    border: 1px solid brown;
    margin: 3vh 2vw 3vh 2vw;
}

.section-learn-more__flex-container__text__headline{
font-size: 2vw;
margin-bottom: 2vh;
}

.section-learn-more__flex-container__text__content{
    font-size: 1.5vw;

}