*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cookies {
    font-family: Capriola, sans-serif;
    width: 100vw;
    position: fixed;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #323334;
    padding: 20px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
}

.cookies__headline {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #cdd7da;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 7px;
}

.cookies__content {
    padding-bottom: 30px;
    font-size: 14px;
    color: #afb4bc;
    line-height: 1.5em;
}

.cookies__button{
    font-family: Capriola, sans-serif;
    display: block;
    position: fixed;
    right: 40px;
    bottom: 10px;
    width: 110px;;
    height: 40px;
    padding: 12px 10px;
    border-radius: 10px;
    line-height: 100%;
    font-size: 16px;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: #e55039;
    text-align: center;
}

.cookies__button:hover {
    background-color: #ff7925;

}

.cookies--hidden {
    display: none;

}