/*     font-family: 'Capriola', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 1200px) { 
    .section-hero{
        position: relative;
        background-color: #345;
        height: 35vh;
        width: 100%;
        background-image: url(img/hero-background-image.jpg);
        background-position: bottom;
        background-size: cover;
        }
        

    .section-hero h1 {
        font-family: 'Capriola', sans-serif;
        position: absolute;
        left: 50%;
        top: 43%;
        transform: translate(-47%,-50%);
        font-size: 50px;
        text-align: center;
        line-height: 140%;
        text-transform: uppercase;
        letter-spacing: 10px;
        word-spacing: 30px;
        font-weight: bold;
        color: #0c2461;
        opacity: 0.9;
        text-shadow:  0 0 30px #fff, 0 0 30px #fff,  -1px 0 #82ccdd, 0 1px #82ccdd, 1px 0 #82ccdd, 0 -1px #82ccdd;
        
        
        }
        
        .section-hero p {
        font-family: 'Capriola', sans-serif;
        font-size: 30px;
        letter-spacing: 3px;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%,-50%);
        color: #b71540;
        text-align: center;
        line-height: 110%;
        opacity: 0.9;
        
        text-shadow:  0 0 30px #fff, 0 0 30px #fff,  -1px 0 #82ccdd, 0 1px #82ccdd, 1px 0 #82ccdd, 0 -1px #82ccdd;
        }

 }




/* / Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media screen only and (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media screen only and (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media screen only and (min-width: 992px) { 

 } */

