/*     font-family: 'Capriola', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-hero{
    min-height: 100vh;
    background-image: url(img/hero-background-image.jpg);
    background-position: 80% 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.85;
    }

.section-hero__flex-container{
    padding: 20vh 0 0 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-hero__flex-container__header {
    font-family: 'Capriola', sans-serif;
    font-size: 200%;
    text-align: center;
    line-height: 170%;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 30px;
    font-weight: bold;
    color: #0c2461;
    opacity: 0.95;
    text-shadow:  0 0 30px #fff, 0 0 30px #fff,  -1px 0 #82ccdd, 0 1px #82ccdd, 1px 0 #82ccdd, 0 -1px #82ccdd;
    }

.section-hero__flex-container__content {
    font-family: 'Capriola', sans-serif;
    width: 80%;
    font-size: 150%;
    text-align: center;
    line-height: 120%;
    letter-spacing: 5px;
    color: #fff;
    opacity: 0.9;
    text-shadow:  0 0 30px #000, 0 0 30px #000, 0 0 30px #000, 0 0 30px #000, -1px 0 #82ccdd, 0 1px #82ccdd, 1px 0 #82ccdd, 0 -1px #82ccdd;
    }

@media only screen and (min-width: 768px) {

    .section-hero__flex-container__header {
        font-size: 300%;
        letter-spacing: 15px;
    }

    .section-hero__flex-container__content {
        font-size: 200%;
        line-height: 160%;
    }
 }

@media only screen and (min-width: 992px) {

    .section-hero__flex-container__header {
        font-size: 400%;
        letter-spacing: 30px;
    }

    .section-hero__flex-container__content {
        font-size: 300%;
        letter-spacing: 10px;
    }
}

@media only screen and (min-width: 1200px) {

    .section-hero__flex-container__header {
        font-size: 500%;
        letter-spacing: 30px;
        }

    .section-hero__flex-container__content {
        font-size: 400%;
        letter-spacing: 10px;
        }
    }