.main-nav{
    width: 90%;
    margin: 0 auto;
}
.navigation{
    border: 1px solid #0c2461;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.links{
    text-decoration: none;
    color: #0c2461;
}

.links:visited{
    color: #0c2461;
}

.links:hover{
    color: #6a89cc;
}

.navigation__element{
    list-style-type: none;
    margin: 0 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

@media only screen and (max-width: 767px){
    .navigation{
        flex-flow: column;
    }
    .navigation__element{
        margin: 5px auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation{
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}