.main-nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: black;
    padding: 0 15px;
}

.main-nav__logo{
    display: flex;
    flex-grow: 1;
    max-width: 100px;
    max-height: 100px;
}

.main-nav__logo img:first-child{
    min-width: 5%;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 5;
}

.links{
    text-decoration: none;
    color: #82ccdd;
}

.links:visited{
    color: #0c2461;
}

.links:hover{
    color: #f6b93b;
}

.navigation__element{
    list-style-type: none;
    margin: 0 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

@media only screen and (max-width: 767px){
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .main-nav__logo{
        justify-content: center;
    }

    .navigation{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .navigation__element{
        margin: 5px auto;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.2em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .main-nav__logo{
        justify-content: center;
    }

    .navigation{
        justify-content: space-between;
        padding-left: 0;
    }

    .navigation__element{
        font-size: 22px;
    }
}