*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-sign-up{
    margin: 0 auto;
    background-color: #0a3d62;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-sign-up__header{
    color: white;
    margin: 7px 0 10px 0;
}

.form{
    width: 100%;
}

.form__input-email{
    width: 40%;
    max-width: 200px;
    padding: 3px;
}

.form__input-submit{
    width: 20%;
    max-width: 70px;
    padding: 3px;
    border-radius: 20px;
    background-color: #fad390;
}

.section-sign-up__no-spam{
    color: white;
    margin: 12px 0 8px 0;
}

.section-sign-up__personal-data{
    color: white;
    margin-bottom: 8px;
}