.section-team-header{
    display: flex;
    justify-content: center;
    font-family: 'Capriola', sans-serif;
    font-size: 2.3rem;
    margin: 12px;
}
*{
    box-sizing: border-box;
    flex-wrap: wrap;

    }

.section-team__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.section-team__container-elements{
    margin: 3%;
}

.section-team__container-elements p{
    display: flex;
    justify-content: center;
    font-family: 'Capriola', sans-serif;
    font-size: 1.2rem;
}
.section-team__container-elements img{
    border-radius: 50%;
}


.section-team__container-elements a{
    display: flex;
    justify-content: center;
    transition: 0.3s transform linear;
}

  .section-team__container-elements a:hover {
    transform: scale(1.2);
}


@media only screen and (max-width:767px){
    .section-team__container{

        display: flex;
        justify-content:center;

    }
    .section-team__container-elements a{
        display:flex;
        align-items: flex-start;

    }
    .section-team__container-elements img{
        display: flex;
        justify-content:center;
        margin:15px;
    }
    .section-team__container-elements p{
        display: flex;
        justify-content: center;

    }
}